html, body{
  width:100%;
  height: 100vh;
  
}
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
  


 /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
 /* using meyers reset */

/* Box-Sizing */
box-sizing {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* Web Font */

.cover {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
color: white;

margin: 150px 0 0 100px;

float: left;
margin-right: 2em;
font-size: 14px;
display: block;
/* box-shadow: 0em 0em 5em rgba(10,10,10,0.7); */
}

.stack {

text-transform: uppercase;
font-size: 12em;
line-height: 0.7em;
word-wrap: break-word;
overflow-wrap: break-word;

}


span {
position: relative;


}

/* C */
.char1 {
margin-left: -.2em;
z-index: 4;
text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* O */
.char2 {
z-index: 3; 
margin-left: -.175em;
top: 0.08em;
text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

/* M */
.char3 {
z-index: 9;
margin-left: -.125em;
text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);

}

/* P */
.char4 {
z-index: 5;
margin-left: -.175em;
text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);
}

/* U */
.char5 {
z-index: 2;
margin-left: -.125em;
top: 0.08em;
text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* T */
.char6 {
z-index: 10;
margin-left: -.125em;
top: -0.04em;
text-shadow: 0em 0em 0.2em rgba(10,10,10,0.9);

}

/* A */
.char7 {
z-index: 8;
margin-left: -.3em;
top: 0em;
text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);

}

/* T */
.char8 {
z-index: 6;
margin-left: -.135em;
top: -0.05em;
text-shadow: 0.02em -0.01em 0.2em rgba(10,10,10,0.9);
}

/* I */
.char9 {
z-index: 7;
 margin-left: -.125em;
top: 0em;
text-shadow: 0.03em -0.03em 0.2em rgba(10,10,10,0.8);
}

/* O */
.char10 {
z-index: 1;
  margin-left: -.125em;
top: 0em;
text-shadow: 0.05em -0.05em 0.2em rgba(10,10,10,0.9);
}

/* N */
.char11 {
z-index: 0;
top: -.04em;
margin-left: -.125em;
text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}




.asthra-logo img{
    position: absolute;
    left: 60%;
    margin-top:-50px;
  height:800px;
  width: auto;
  opacity: .8;
}

.about-pic{
  height:300px;
  width: auto;

}
.about-pic img{
  float: left;
  margin-top: 100px;  
  height:600px;
  width: auto;
}


  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    overflow: hidden;

  }
  .slide-1{
    background: #383838;
   
  }
  .slide-2{
    background: #202020;
  }
  .slide-2 h1 {
          
    font-family: 'Open Sans Condensed', sans-serif;
  
    color: white;
    position: absolute;
    font-size: 100px;
    left: 10px;
    opacity: .8;
}
.slide-2 h2 {
  color: rgba(255,255,255,0.85);
  text-align: center;
  line-height: 160%;
  font-weight: 100;
}



.sl {
  display: block;
  position: absolute;
  top: 50%;
  left: 60%;
  right: 5%;
  text-align: center;
  transform: translateY(-50%);
  line-height: 60px;
  color: #dddedf;
}

.textspan {
  margin: 10px;
  opacity: 0;
  filter: blur(20px);
  text-transform: uppercase;
  font-weight: 900;
}

.sl.active span {
  opacity: 1;
  filter: blur(0px);
  transition: 1s;
}

.active {
  z-index: 10;
}
.line{
 
  
  border-left: 2px #dddedf;
  border-style: solid;
  height: 300px;
  width: 100px;
  position: absolute;
  left: 55%;
  margin-left: -3px;
  top: 35%;
  
}








@media only screen and (max-width: 600px){
  .cover{
    font-size: 10px;
    margin: 0;
    position: absolute;
    margin-top: 100px;
    left: 10%;
    right: 10%;
    text-align: center;
    
    
    
  }
  .asthra-logo img{
    top: 52%;
    transform: translate(-60%,-50%);
    height: 400px;
    opacity: .4;
    filter: blur(2px);
    -webkit-filter: blur(1px);
  }
}

